:root {
  /*Colors */
  --primary-color: #00c2cb;
  --primary-color-500: #15b2bc;
  --secondary-color: #052b5d;
  --accent-color: #fdbc5a;
  --error-color: #f55f44;

  /*Font sizes*/
  --regular-size: 0.9em;
  --small-size: 0.7em;
  --title-size: 1.3em;
}

/*****GENERAL RULES*****/

.container {
  max-width: 1200px;
  overflow: hidden;
}

p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.card {
  margin: 1em 0;
}

.main-title {
  padding-left: 5%;
  padding-top: 3em;
  font-size: large;
  color: white;
  background-image: inherit !important;
  background-color: inherit !important;
}

.main-title h1 {
  text-transform: capitalize;
  color: white;
}

.main-title div {
  width: 88%;
}

section {
  color: var(--secondary-color);
  margin: 0;
  padding: 2em 0;
}

section:nth-child(odd) {
  background: rgb(255, 189, 89);
  background-image: linear-gradient(
    326deg,
    rgba(255, 189, 89, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

section:nth-child(even) {
  background: rgb(255, 189, 89);
  background-image: linear-gradient(
    326deg,
    rgba(255, 189, 89, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

section div {
  width: initial;
}

section h1 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 1.55em;
  color: var(--primary-color-500);
}

section h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--title-size);
  line-height: 1.5em;
  color: var(--primary-color-500);
}

section h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: var(--small-size);
  line-height: 1.5em;
}

section h5 {
  font-size: 1.17em;
  line-height: 1.5em;
  margin: 1em 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*****END*****/

/******OUR-SERVICES*******/

.our-service,
.notre-equipe {
  display: flex;
  flex-direction: column;
}

.our-service__img,
.notre-equipe__img {
  order: 1;
  margin: 1em 0;
}

.our-service__text,
.notre-equipe__text {
  order: 2;
}

.our-service__description {
  margin: 1em auto;
}

.voir-plus {
  margin: 0.5em auto;
  border: 1px solid var(--secondary-color);
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 6em;
}

/*******END*******/

/****MISSIONS*******/

.missions .card {
  margin: auto;
  height: 25em;
  width: 90%;
  box-shadow: #ddd 0 0 11px;
  overflow-y: auto;
  padding: 1em 0;
}

.missions .card__title {
  width: 80%;
  margin: 1em auto;
  padding: 0.5em 0;
}

.missions .card__title::after {
  content: "";
  width: 80px;
  height: 4px;
  display: block;
  position: relative;
  left: 42%;
  top: 10px;
  background: var(--primary-color);
  border-radius: 100px;
}

.missions .card__body {
  color: var(--secondary-color);
}

.missions .card__img {
  margin-top: 1em;
}

.owl-carousel .owl-item img {
  width: auto;
  display: initial;
}

.owl-nav {
  visibility: hidden;
}

.owl-dots {
  width: fit-content;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-dot span {
  height: 1em;
  width: 1em;
  margin: 0 0.5em;
  border-radius: 100%;
  border: 1px solid var(--primary-color-500);
  display: block;
}

.owl-dot:focus {
  outline: none;
}

.owl-dot.active span {
  background-color: var(--primary-color-500);
}

/********END***********/

/*****NOS-TECHS*****/

.techs__titles {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  letter-spacing: -0.07em;
}

.techs__titles li {
  margin: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

.nos-techs {
  margin-top: 3em;
}

.tech-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 70%;
  height: 3em;
  margin: 1em auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 10px solid #ccc;
}

.tech-item img {
  margin-right: 10%;
}

.d-none {
  display: none;
}

.active {
  color: var(--primary-color-500);
  list-style-type: initial;
  list-style-position: inside;
}

/*******END*******/

/******POURQUOI-NOUS********/

.pourquoi-nous {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pourquoi-nous .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  transition: all ease-out 300ms;
  min-height: 15em;
  flex-basis: calc(50% - 2.8em);
}

.pourquoi-nous .card:hover {
  background-color: var(--primary-color);
}

.pourquoi-nous .card:hover .card__img {
  opacity: 0;
}

.pourquoi-nous .card:hover .card__text {
  top: 35%;
  margin-top: 2em;
  color: white;
  width: fit-content;
}

.pourquoi-nous .card:hover .card__body {
  opacity: 1;
  display: block;
  overflow: hidden;
  margin-top: 0.5em;
}

.pourquoi-nous .card__img {
  max-width: 100%;
  display: block;
  margin-top: 2em;
  transition: opacity ease-out 300ms;
}

.pourquoi-nous .card__text {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all ease-out 300ms;
  padding: 0 0.4em;
}

.pourquoi-nous .card__title {
  margin-bottom: 0;
  opacity: 1;
  font-size: var(--regular-size);
}

.pourquoi-nous .card__body {
  opacity: 0;
  font-size: 0.75em;
  display: none;
  overflow: hidden;
  width: 100%;
}

/******END********/

/******OUR APPROACH*******/

.our-approach {
  font-weight: 900;
}

.our-approach .card {
  padding: 2em;
  margin: 1.5em;
}

.our-approach .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 100%;
}

.our-approach .etape1 .number {
  background-color: var(--primary-color);
}

.our-approach .etape2 .number {
  background-color: var(--secondary-color);
}

.our-approach .etape3 .number {
  background-color: var(--accent-color);
}

.our-approach .number h1 {
  color: white;
  font-weight: 900;
}

/*********END*******/

/*******METIERS*******/

.metiers {
  margin-top: 2em;
}

.metiers .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 3em;
  margin: 1em auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: 10px solid #ccc;
}

.metiers .card p {
  text-align: left;
  margin-left: 10%;
}

/*******END******/

/******REALISATIONS******/

.realistions .card {
  padding: 1.5em;
  width: 70%;
  min-height: 10em;
  margin: 1em auto;
  color: white;
}

.realistions .card img {
  margin-top: 1.5em;
}

.realistions .card:nth-child(1) {
  background-color: var(--accent-color);
}

.realistions .card:nth-child(2) {
  background-color: var(--secondary-color);
}

.realistions .card:nth-child(3) {
  background-color: var(--primary-color);
}

/********END*******/

.footer {
  border-top-left-radius: 0;
}

@media only screen and (min-width: 480px) {
  .technos,
  .metiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tech-item,
  .metiers .card {
    width: 35%;
    margin: 0.5em;
  }
}

@media only screen and (min-width: 640px) {
  section h1 {
    margin-bottom: 0.5em;
  }

  .our-service,
  .notre-equipe {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .our-service div,
  .notre-equipe div {
    flex: 1;
  }

  .techs__titles {
    justify-content: left;
    letter-spacing: initial;
  }

  .technos,
  .metiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .tech-item,
  .metiers .card {
    width: 20%;
    margin: 1em;
  }

  .pourquoi-nous .card {
    flex-basis: calc(28% - 1em);
  }

  .our-approach .card {
    width: 50%;
    margin: 1em auto;
  }
}

@media only screen and (min-width: 1024px) {
  p {
    width: initial;
  }
}

@media only screen and (min-width: 1350px) {
}
