:root {
  /*Colors */
  --primary-color: #00c2cb;
  --primary-color-500: #15b2bc;
  --secondary-color: #052b5d;
  --accent-color: #fdbc5a;
  --error-color: #f55f44;

  /*Font sizes*/
  --regular-size: 0.9em;
  --small-size: 0.7em;
  --title-size: 1.3em
}

.container {
  max-width: 1200px;
}

p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.card {
  margin: 1em 0;
}

.main-title {
  padding-left: 5%;
  padding-top: 3em;
  font-size: large;
  color: white;
}

.main-title h1 {
  text-transform: capitalize;
  color: white;
}

.main-title div {
  width: 88%;
}

section {
  color: var(--secondary-color);
  margin: 0;
  padding: 2em 0;
}

section:nth-of-type(2),
section:nth-of-type(4),
section:nth-of-type(6),
section:nth-of-type(8) {
  background-color: #ffbd5927;
}

section:nth-of-type(9) {
  background-image: linear-gradient(359.43deg, #ffbd59 -38.26%, rgba(255, 189, 89, 0) 26.6%);
}

section div {
  width: initial;
}

section h1 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6em;
  font-size: 1.55em;
  color: var(--primary-color-500);
}

section h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--title-size);
  line-height: 1.6em;
  color: var(--primary-color-500);
}

section h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: var(--small-size);
  line-height: 1.6em;
}

section h5 {
  font-size: 1.17em;
  line-height: 1.5em;
  margin: 1em 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.our-service,
.notre-equipe {
  display: flex;
  flex-direction: column;
}

.our-service__img,
.notre-equipe__img {
  order: 1;
  margin: 1em 0;
}

.our-service__text,
.notre-equipe__text {
  order: 2;
}

.tech-item {
  display: flex;
  align-items: center;
  text-align: left;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5em 4em 0.5em 0.8em;
  margin: 1em auto;
  font-size: var(--regular-size);
  font-weight: bolder;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  min-height: 4em;
}

.tech-item::before {
  margin-right: 10%;
}

.technos div::before {
  content: url(//unsplash.it/80/80);
}

.techs__titles {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.techs__titles h4 {
  margin: .6em;
}

.nos-techs {
  margin-top: 3em;
}

.our-approach {
  font-weight: 900;
}

.our-approach .card {
  padding: 2em;
  margin: 1.5em;
}

.our-approach .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 100%;
}

.our-approach .etape1 .number {
  background-color: var(--primary-color);
}

.our-approach .etape2 .number {
  background-color: var(--secondary-color);
}

.our-approach .etape3 .number {
  background-color: var(--accent-color);
}

.our-approach .number h1 {
  color: white;
  font-weight: 900;
}

.metiers {
  margin-top: 2em;
}

section .metiers .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 2em;
  margin: 1em auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: 10px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  pointer-events: none;
}

section .metiers .card p {
  text-align: left;
  margin-left: 10%;
}

.realistions .card {
  padding: 1.5em;
  width: 70%;
  margin: 1em auto;
  color: white;
}

.realistions .card img {
  margin-top: 1.5em;
}

.realistions .card:nth-child(1) {
  background-color: var(--accent-color);
}

.realistions .card:nth-child(2) {
  background-color: var(--secondary-color);
}

.realistions .card:nth-child(3) {
  background-color: var(--primary-color);
}

/* .realistions .card:nth-child(2n+1) {
  background-color: var(--accent-color);
} */

.footer {
  border-top-left-radius: 0;
}



@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 750px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1350px) {
  
}