a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}

.container {
    padding: 5%;
}

.contacts {
    font-weight: lighter;
    font-size: .9rem;
}

.form-wrapper {
    background-color: #F8FBFC;
    text-align: center;
    border-radius: 10px;
    padding: 1.25rem 5%;
}

.form-wrapper h1 {
    font-size: 1rem;
}

form {
    margin-top: 4.85rem;
}

form input[type="text"] {
    width: 100%;
    margin-bottom: 1.25rem;
    height: 4.625rem;
    padding: 1.25rem;
    border: 1.5px solid #eee;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border: 1.5px solid #eee;
    border-radius: 5px;
}

form input[type="button"] {
    width: 100%;
    height: 3.9375rem;
    padding: 1.25rem;
    color: #fff;
    background-color: #17A6AF;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 1.25rem;
}

.form-btn:hover {
    background-color: #17a5afed;
}

form input:focus, form textarea:focus {
    outline-color: #17A6AF;
}


/* main {
    display: flex;
    align-items: center;
    justify-content: center;
} */