@import url("https://fonts.googleapis.com/css2?family=Montserrat:300,600&display=swap");

:root {
    --primary-color: #00c2cb;
    --primary-color-500: #15b2bc;
    --secondary-color: #052b5d;
    --accent-color: #fdbc5a;
    --error-color: #f55f44;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p,
blockquote {
    font-size: 0.9em;
    line-height: 1.6em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 1.2em;
}

.logo {
    width: 130px;
}

section {
    margin: 20% 0 5%;
}

.landing_illustration,
.about .team {
    width: 100%;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.green-container {
    color: white;
    background-color: #057c86;
    background-image: linear-gradient(155.64deg, #057c86 39.12%, var(--primary-color) 75.61%);
    margin-top: -120px;
    border-bottom-right-radius: 20px;
}

.green-container p {
    text-align: inherit;
}

.white-yellow-container {
    color: var(--secondary-color);
    background-image: linear-gradient(359.43deg, #ffbd59 -38.26%, rgba(255, 189, 89, 0) 26.6%);
    border-bottom-right-radius: 20px;
    padding: 0 0 10%;
}

.spacer {
    height: 3em;
}

.global-services,
.services,
.stats,
.reviews,
.about {
    margin-top: 10%;
}

.card {
    background: #f9fafb;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0.9em;
}

.global-services .card {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.global-services li {
    margin: 0 0 3em;
}

.global-services p {
    text-align: center;
}

.stats span {
    font-weight: bold;
}

.title {
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.green-title {
    background: var(--primary-color);
}

.yellow-title {
    background: var(--accent-color);
}

.red-title {
    background: var(--error-color);
}

.blue-title {
    background: var(--secondary-color);
}

.stats .green-title {
    margin: 0 20%;
}

.numbers-element {
    color: white;
    background: linear-gradient(90deg, var(--primary-color) 56.48%, var(--secondary-color) 178.74%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    height: 50px;
}

.numbers-element p {
    margin: 0.8em;
}

.numbers-element img {
    width: 50px;
    height: 50px;
}

.services .yellow-text,
.reviews .yellow-text,
.about .yellow-text {
    text-align: inherit;
}

.footer .yellow-text {
    text-align: center;
    margin-top: 10%;
}

.services .card,
.carousel .card {
    margin-bottom: 1em;
}

.green-text {
    font-weight: bold;
    color: var(--primary-color-500);
}

.doUnfold {
    cursor: pointer;
}

.yellow-text {
    color: var(--accent-color);
    font-weight: bold;
}

.rounded-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);
    border: 4px solid var(--primary-color);
    border-radius: 50px;
    height: 2em;
    margin: 10% 20%;
}

.rounded-button img {
    height: 20px;
}

.reviews .card {
    color: white;
    background: var(--primary-color);
    border-radius: 8px;
    filter: drop-shadow(12px 16px 50px rgba(0, 0, 0, 0.25));
}

.reviews {
    margin-top: 20%;
}

.carousel .card {
    text-align: start;
}

.unfold {
    display: none;
}

.sponsor {
    position: relative;
    color: var(--secondary-color);
    z-index: 3;
}

.footer {
    color: white;
    background: var(--secondary-color);
    border-top-left-radius: 20px;
}

.footer .useful-links li,
.footer .useful-links ul {
    margin-bottom: 1em;
    font-size: 0.85em;
}

.separator {
    border: 1px solid #374151;
    margin-top: 10%;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    margin-left: 0.5em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    color: white;
    background: var(--primary-color);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: var(--primary-color-500);
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

.exit-btn img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -2.5em;
    text-align: right;
    padding: 0 0.5em;
}

@media only screen and (min-width: 650px) {

    h1 {
        font-size: 2.8em;
        margin: 0;
    }

    .subhead {
        font-size: 1.1em;
        margin-bottom: 12%;
    }
    
    .rounded-button {
        margin: 10% 33%;
    }
    
    .rounded-button img {
        height: 20px;
    }

    .landing_illustration,
    .about .team {
        width: 70%;
    }
}
