:root {
  /*Colors */
  --primary-color: #00c2cb;
  --primary-color-500: #15b2bc;
  --secondary-color: #052b5d;
  --accent-color: #fdbc5a;
  --error-color: #f55f44;

  /*Font sizes*/
  --regular-size: 0.9em;
  --small-size: 0.7em;
  --title-size: 1.3em
}


.subhead {
  font-size: var(--title-size);
}

.services h1,
.branding h1 {
  font-size: var(--title-size);
}

.services section {
  margin: 0;
}

.services .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section div {
  font-size: var(--small-size);
}

.service {
  display: flex;
  align-items: center;
  text-align: left;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
}

.service::before {
  content: 'hello';
  background-color: aqua;
  height: 100%;
  margin-right: 10%;
  display: inline-block;
}

.api .service {
  border-color: var(--secondary-color);
}

.app {
  background-color: var(--secondary-color);
  color: #fff;
  border-top-left-radius: 20px;
}

.api {
  background-color: var(--accent-color);
  color: #052b5d;
}

.ui {
  background-color: var(--primary-color-500);
  color: #fff;
  border-bottom-right-radius: 20px;
}