:root {
  /*Colors */
  --primary-color: #00c2cb;
  --primary-color-500: #15b2bc;
  --secondary-color: #052b5d;
  --accent-color: #fdbc5a;
  --error-color: #f55f44;

  /*Font sizes*/
  --regular-size: 0.9em;
  --small-size: 0.7em;
  --title-size: 1.3em
}

.subhead {
  font-size: var(--title-size);
}

main > .container {
  margin-top: 5%;
}

.services h1,
.branding h1 {
  font-size: var(--title-size);
  margin-top: 0;
}

.branding {
  border-radius: var(--regular-size);
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-bottom: 5%;
}

.branding h1, p {
  color: var(--secondary-color);
  text-align: justify;
}

.services section {
  margin: 0;
  padding: 8% 0;
}

.services .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service {
  display: flex;
  align-items: center;
  text-align: left;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0.4em 0.8em;
  margin: 1em 0;
  font-size: var(--regular-size);
  font-weight: bolder;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.25);
}

.app-java::before {
  content: url(/images/app-java.svg);
  margin-right: 10%;
}

.app-web::before {
  content: url(/images/app-web.svg);
  margin-right: 10%;
}

.app-mobile::before {
  content: url(/images/app-mob.svg);
  margin-right: 10%;
}

.app-maintenance::before {
  content: url(/images/app-maintenance.svg);
  margin-right: 10%;
}

.api-web::before {
  content: url(/images/api-web.svg);
  margin-right: 10%;
}

.ui-prototye::before {
  content: url(/images/ui-dev.svg);
  margin-right: 10%;
}

.api .service {
  border-color: var(--secondary-color);
}

.app {
  background-color: var(--secondary-color);
  color: #fff;
  border-top-left-radius: 20px;
}

.api {
  background-color: var(--accent-color);
  color: #052b5d;
}

.ui {
  background-color: var(--primary-color-500);
  color: #fff;
  border-bottom-right-radius: 20px;
}

@media only screen and (min-width: 750px) {
  .subhead {
    margin: 2em 0 !important;
  }

  .services section {
    padding: 2%;
  }

  .services section h1 {
    margin-bottom: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .banner-content {
    margin-top: 10%;
    height: 315px;
  }

  .green-container {
    border-bottom-right-radius: 0 !important;
  }

  .services section {
    padding: 2% 2% 5% 2%;
  }

  .container {
    padding-bottom: 4% !important;
  }

  .services section h1 {
    margin-top: 1.5em;
  }

  .big-title {
  }

  .subhead {
    margin: 1em 0 !important;
  }

  .services-hero-img {
    align-self: flex-end;
  }

  main {
    margin: 0;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 0 !important;
  }

  .services .container {
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .service {
    width: initial;
  }

  .app {
    grid-column: 1/7;
    border-top-left-radius: 0;
  }
  
  .api {
    grid-column: 7/13;
  }
  
  .ui {
    grid-column: 1/13;
  }

  .branding {
    margin: 0;
  }

  main > .container {
    margin-top: 0;
    padding-top: 4%;
  }
}

@media only screen and (min-width: 1400px) {
  
}