.hero::after {
  background-image: url(/images/java-landing-illustration.svg);
}

#call-to-action::after {
  background-image: url(/images/app-mobile-cta-bg-img1.jpg);
}
.impl-list-box {
  display: flex;
  justify-content: center;
}

.impl-list {
  text-align: left;
  font-weight: 700;
  padding: 0 30px;
  line-height: 32px;
}

.impl-list li::before {
  content: "-";
  display: inline-block;
  font-weight: bold;
  margin-right: 2%;
}

@media only screen and (max-device-width: 480px) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .plus-value-text {
    width: 50%;
    align-self: center;
  }
}
