:root {
  /*Colors */
  --primary-color: #00c2cb;
  --primary-color-500: #15b2bc;
  --secondary-color: #052b5d;
  --accent-color: #fdbc5a;
  --error-color: #f55f44;

  /*Font sizes*/
  --regular-size: 0.9em;
  --small-size: 0.7em;
}

body {
  color: var(--secondary-color);
}

.container {
  padding: 5%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.sidebar,
nav ul {
  color: inherit;
  background-color: #f9fafb;
  background-image: none;
  box-shadow: #ddd 0 0 8px;
}

.green-container {
  color: inherit;
  background: #fff;
  background-image: linear-gradient(-1.64deg, #fff 39.12%, #f9fafb 75.61%);
  box-shadow: #ddd 0 0 8px;
}

nav ul li:nth-child(5) a {
  width: max-content;
}

#hero-title h1 {
  margin-top: 2.5em;
}

.overviews-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10% 3%;
  border-radius: 20px;
  box-shadow: #ddd 0 0 8px;
}

.overviews__img {
  order: 1;
}

.overviews__img img {
  margin: 3% 0;
}

.overviews__img::before {
  content: "Généralités";
  display: block;
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: bolder;
  padding: 1rem 0;
}

.overviews__text {
  order: 2;
}

.overviews__text h1 {
  display: none;
}

#business-needs {
  text-align: center;
}

.needs {
}

.needs li {
  display: block;
  background-color: #FFF9F2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0 4%;
  line-height: 1.6;
}

#challenges {
  text-align: center;
}

.challenges li {
  display: flex;
  text-align: left;
  align-items: stretch;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.challenges li::before {
  position: relative;
  content: url(../images/triangle-blue-down.svg);
  display: block;
  margin-right: 5%;
}

.challenges-img {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#solutions {
  text-align: center;
  margin: 0 3%;
  padding-bottom: 1rem;
  border-radius: 20px;
  box-shadow: #ddd 0 0 8px;
}

.solutions-img {
  margin: 2rem 0;
  height: fit-content;
  transform: scale(1.3, 3);
}

.solutions > li:not(.last) {
  margin-bottom: 2rem;
}

.solutions-box {
  text-align: left;
}

.solution-1 li {
  font-weight: bold;
}

.solution-1 li::before  {
  content: "-";
  display: inline-block;
  font-weight: bold;
  margin-right: 2%;
}

@media only screen and (min-width: 1024px) {
  .dropdown-content {
    background-image: linear-gradient(155.64deg, #fff 39.12%, #fff 75.61%);
    background-color: #fff;
    color: inherit;
  }

  .overviews-box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    margin: 0;
    box-shadow: none;
  }

  .overviews__img {
    order: 2;
    flex: 1;
  }

  .overviews__img::before {
    display: none;
  }
  
  .overviews__img img {
    width: 70%;
  }
  
  .overviews__text {
    order: 1;
    flex: 1;
    margin-right: 5%;
  }

  .overviews__text h1 {
    display: block;
    margin-bottom: 1.5rem;
  }

  .overviews__text p {
    line-height: 1.6rem;
  }

  #business-needs .container {
    padding: 0 10% 5% 10%;
  }

  .needs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .needs li {
    width: 30%;
  }

  #challenges .container {
    padding-top: 0;
  }

  .challenges-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .challenges-img {
    width: 60%;
    margin-right: 15%;
  }

  .challenges li {
    margin-bottom: 3rem;
  }

  #solutions {
  }

  .solutions-img {
    transform: none;
  }

  .solutions {
    display: flex;
    justify-content: center;
  }

  .solutions > li {
    flex: 1;
    margin-bottom: 0 !important;
  }

  .solutions  > li:not(.last) {
    margin-right: 2%;
  }
}
